<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="smart_import_attribute_before">
        <observer name="smartCatalogImportAttributeObserver" instance="Smart\Catalog\Observer\ImportAttribute" />
    </event>
</config>